spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/movie
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 2000

jwt:
  issuer: cinema-auth
  access-token-expire: 900000 # 15 minutes
  refresh-token-expire: 2592000000 # 30 days
  private-key: classpath:private.pem

server:
  port: 8081
